<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>seleniumframework</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ea97a2">  <td>21/10/18 21:04:12</td>   <td>0</td> <td title="&lt;&lt;BaseTest.afterclassmethod()[pri:0, instance:testpackage.BaseTest@29b5cd00]">&lt;&lt;afterclassmethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@415186196</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>21/10/18 21:04:08</td>   <td>-4271</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.aftermethod(org.testng.ITestResult)[pri:0, instance:testpackage.BaseTest@29b5cd00]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@415186196</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>21/10/18 21:03:46</td>   <td>-26300</td> <td title="&gt;&gt;BaseTest.beforeSuitesmethod()[pri:0, instance:testpackage.BaseTest@29b5cd00]">&gt;&gt;beforeSuitesmethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@415186196</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>21/10/18 21:03:47</td>   <td>-25980</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforemethod(java.lang.String,java.lang.reflect.Method)[pri:0, instance:testpackage.BaseTest@29b5cd00]">&gt;&gt;beforemethod</td> 
<td>&nbsp;</td>  <td>main@415186196</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>21/10/18 21:04:03</td>   <td>-9114</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BaseTest.samplemethodforEmail()[pri:0, instance:testpackage.BaseTest@29b5cd00]">samplemethodforEmail</td> 
  <td>main@415186196</td>   <td></td> </tr>
</table>
